  <br />
  <br />
  <br />
  <br />
  <div class="text-center">
    <h2>Payout has been sent successfully!</h2>
    <p>
      We will notify the investor of the payment made.
    </p>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <br />